@import url('../font/stylesheet.css');
*{
 	font-family: "futura_md_btmedium";
}

*::-moz-selection{
	background: #9e9e9e;
	color: #ffffff;
}
*::selection{
	background: #9e9e9e;
	color: #ffffff;
}
::-webkit-scrollbar
{
	display: none;
}

/* p */
p{
	font-size: 12px;	
	letter-spacing: 1px;
	line-height: 32px;
	color: #9e9e9e;
	text-align: justify;
}
/* A */
a{
	color: #9e9e9e;
}
a:hover,a:active,a:focus,a:active:focus{
	text-decoration: none;
}

/* Nvigation */

/* Side Navigation */
nav.side-nav{
	position: fixed;
	background: #ffffff;
	top: 0;
	right: 0;
	width: 100px;
	height: 100vh;
	z-index: 9;
}
.navigation-head{
	min-height: 33.33vh;
	position: relative;
}
.navigation-head .content{
	position: absolute;
	top: 45px;
}
.logo{
	width: 60px;
	margin-left: 0;
}
.navigation-links{
	margin: 0;
	padding: 0;
	list-style: none;
}
.navigation-links>li{
	margin: 20px 0;
	position: relative;
	padding: 10px 0;
}
.navigation-links>li>a{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	color: #9e9e9e;
	text-transform: uppercase;
    font-weight: 900;
    font-size: 9px;
	font-weight: 100;
	letter-spacing: 0.1em;
}
.navigation-links>li>a:hover,
.navigation-links>li>a:active,
.navigation-links>li>a:focus,
.navigation-links>li>a:active:focus{
	text-decoration: none;
}
.navigation-links>li>a:hover,
.navigation-links>li>a:active,
.navigation-links>li>a:focus,
.navigation-links>li>a:focus:active{
	text-decoration: none;
	color: #23acf1;
}


.navigation-links>li::after{
	content: "";
	position: absolute;
	bottom: 0;
	right: 0;
	height: 2px;
	width: 0px;
    -webkit-transition: all 0.5s cubic-bezier(.25,.75,.5,1.25);
    -o-transition: all 0.5s cubic-bezier(.25,.75,.5,1.25);
    transition: all 0.5s cubic-bezier(.25,.75,.5,1.25);
	background: #ee1b24;
}
.navigation-links>li:hover:after{
    -webkit-transition: all 0.5s cubic-bezier(.25,.75,.5,1.25);
    -o-transition: all 0.5s cubic-bezier(.25,.75,.5,1.25);
    transition: all 0.5s cubic-bezier(.25,.75,.5,1.25);
	width: 80%;
	left: 0;
}
.navigation-links>li.active>a{
	color: #23acf1;
}
.navigation-links>li.active::after{
	background: #23acf1;
	width: 80%;
	left: 0;
}

.navigation-links>li.active:hover:after{
	width: 80%;
    -webkit-transition: all 0.5s cubic-bezier(.25,.75,.5,1.25);
    -o-transition: all 0.5s cubic-bezier(.25,.75,.5,1.25);
    transition: all 0.5s cubic-bezier(.25,.75,.5,1.25);
	left: 0;
}

/* Container */
.main-container.container-fluid{
	min-height: 90vh;
	margin-right: 100px;
}



/* Projects */
.projects{
	position: relative;
}
.projects .project{
	min-height: 33.33vh;
	max-height: 33.33vh;
	border: 3px solid #ffffff;
	background-position: center;
	background-size: cover;
	position: relative;
	overflow: hidden;
}
.project_info{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(255,255,255,0.8);
	background: -webkit-linear-gradient(top,rgba(255,255,255,0.8),transparent); /*Safari 5.1-6*/
	background: -o-linear-gradient(top,rgba(255,255,255,0.8),transparent); /*Opera 11.1-12*/ /*Fx 3.6-15*/
	background: -webkit-gradient(linear, left bottom, left top, from(rgba(255,255,255,0.8)), to(transparent));
	background: -webkit-linear-gradient(bottom, rgba(255,255,255,0.8), transparent);
	background: -o-linear-gradient(bottom, rgba(255,255,255,0.8), transparent);
	background: linear-gradient(to top, rgba(255,255,255,0.8), transparent); /*Standard*/
	opacity: 0;
	-webkit-transition: all 0.5s cubic-bezier(.25,.75,.5,1.25);
	-o-transition: all 0.5s cubic-bezier(.25,.75,.5,1.25);
	transition: all 0.5s cubic-bezier(.25,.75,.5,1.25);
}
.project_info a{
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	height: 100%;
}

.project_info h3 small{
	font-weight: 700;
	font-size: 8px;
}
.project_info h3{
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	color: #1e1e1e;
    font-size: 10px;
    letter-spacing: 2pt;
    line-height: 20px;
    font-weight: 700;
    -webkit-animation: AnimateProjectOut 0.5s linear forwards;
            animation: AnimateProjectOut 0.5s linear forwards;
}
.project:hover .project_info,.project:active .project_info,.project:focus .project_info,.project:active:focus .project_info{
	opacity: 1;
	-webkit-transition: all 0.5s cubic-bezier(.25,.75,.5,1.25);
	-o-transition: all 0.5s cubic-bezier(.25,.75,.5,1.25);
	transition: all 0.5s cubic-bezier(.25,.75,.5,1.25);
}

.project:hover .project_info h3,.project:active .project_info h3,.project:focus .project_info h3,.project:active:focus .project_info h3{
    -webkit-animation: AnimateProjectIn 0.5s linear forwards;
            animation: AnimateProjectIn 0.5s linear forwards;
}

@-webkit-keyframes AnimateProjectIn{
	from{bottom: -10%;}
	to{bottom: 0%;}
}

@keyframes AnimateProjectIn{
	from{bottom: -10%;}
	to{bottom: 0%;}
}

@-webkit-keyframes AnimateProjectOut{
	from{bottom: 0%;}
	to{bottom: -50%;}
}

@keyframes AnimateProjectOut{
	from{bottom: 0%;}
	to{bottom: -50%;}
}
.karith{
	background: #ffffff;
	color: #455A64;
	padding: 40px 0;
	padding-right: 10px;
}
.karithinfo{
	font-family: 'Tw Cen MT';
	padding: 7px 0;
	float: right;
	position: relative;
}
.karithinfo h4{
	font-size: 30px;
	line-height: 30px;
	padding: 0;
	margin: 0;
	text-transform: uppercase;
	letter-spacing: 2px;
}
.karithinfo h4:nth-child(2){
	letter-spacing: 0.5px;
}
.karithinfo h4:nth-child(3){
	letter-spacing: 7.5px;	
}
.karithinfo h4:nth-child(4),.karithinfo h4:nth-child(5){
	font-size: 15px;
	line-height: 15px;
	letter-spacing: 8px;	
}
.karithinfo h4:nth-child(5){
	letter-spacing: 8.5px;	
}
.karithinfo::after{
	content: "";
	position: absolute;
	left: 0px;
	top: 2px;
	width: 100px;
	height: 2px;
	background: #455A64;
	-webkit-animation: fadeInRight 2s ease forwards;
	        animation: fadeInRight 2s ease forwards;
}
.karithinfo::before{
	content: "";
	position: absolute;
	left: 0px;
	bottom: 0;
	width: 100px;
	height: 2px;
	background: #455A64;
	-webkit-animation: fadeInLeft 2s ease forwards;
	        animation: fadeInLeft 2s ease forwards;
}

.social-icons{
	list-style: none;
	margin: 0;
	padding: 0 00px;
	margin-top: -10px;
}
.social-icons li{
	padding:3px 10px;
	text-align: left;
}
.social-icons li a{
	color: #9e9e9e;
	font-size: 20px;
}
.social-icons li a:hover .fa-facebook,.social-icons li a:focus .fa-facebook,.social-icons li a:active .fa-facebook,.social-icons li a:active:focus .fa-facebook{
	color:#3b5998;
}
.social-icons li a:hover .fa-instagram,.social-icons li a:focus .fa-instagram,.social-icons li a:active .fa-instagram,.social-icons li a:active:focus .fa-instagram{
	color:#e1306c;
}
.social-icons li a:hover .fa-whatsapp,.social-icons li a:focus .fa-whatsapp,.social-icons li a:active .fa-whatsapp,.social-icons li a:active:focus .fa-whatsapp{
	color:#34af23;
}
.social-icons li a:hover .fa-google-plus,.social-icons li a:focus .fa-google-plus,.social-icons li a:active .fa-google-plus,.social-icons li a:active:focus .fa-google-plus{
	color:#d34836;
}
.social-icons li a:hover .fa-linkedin,.social-icons li a:focus .fa-linkedin,.social-icons li a:active .fa-linkedin,.social-icons li a:active:focus .fa-linkedin{
	color:#0077B5;
}

/* Project 404 */
.e-404{
	font-size: 10vmin;
	color: #9e9e9e;
}
.clearbox{
	padding: 32px;
}
.grey-text{
	color: #9e9e9e;
}
.project_data{
	position: fixed;
	top: 0;
	background: #ffffff;
	width: 25vw;
	min-height: 100vh;
	right: 10vw;
	padding-left: 20px;
	padding-top: 100px;
}
.project_title small{
	font-size: 10px;
}
.project_title{
	font-size: 20px;
	padding-left: 15px;
	letter-spacing: 5px;
	text-transform: uppercase;
	font-family: "karithheavy";
	position: relative;
}
.project_title::before,.project_title::after{
	content: "";
	position: absolute;
	width: 2px; 
	height: 80%;
	background: #23acf1;
	left: -10px;
	top: 10px;
}
.project_title::after{
	background: #ee1d25;
	left: 0px;

}
.project_details{
	padding-top: 50px;
}
.project_details table {
	font-size: 11px;
}
.project-images{
	margin: 30px 30px;
}
.project-imae{
	margin-bottom: 50px;
}
.nextbtn{
	position: fixed;
	right: 10vw;
	bottom: 10px;
	background: transparent;
	color: #9e9e9e;
}
.nextbtn.prevbtn{
	right: 35vw;
}

.about-intro{
	top:25%;
	position: fixed;
	font-size: 18px;
	color: #9e9e9e;
	text-align: justify;
}
.about-intro strong{
	font-size: 20px;
	text-transform: uppercase;
	cursor: pointer;
}
.int_098{
	letter-spacing:4.3px;
	font-size: 24px;	
}
.int_084{
	letter-spacing: 1.28px;
}
.int_085{
	letter-spacing: 2.3px;
}
.int_083{
	letter-spacing: 0px;	
}
.int_082{
	letter-spacing: 1.2px;	
}
.int_081{
	font-size: 16px;
	letter-spacing:0.5px;	
}
.int_087{
	letter-spacing: 0.4px;
}
.paragraph{
	font-size: 13px;
	text-align: justify;
	line-height: 32px;
	color:#5e5e5e;
	font-family: "futura_md_btmedium";
}
.data-content{
	margin-top: 120px;
}
.title{
	font-size: 22px;
	color:#5e5e5e;
	font-weight: 100;
	text-transform: uppercase;
	letter-spacing: 10px;
	padding-bottom: 20px;
}
.section{
	padding-top: 25%;
}
.about-intro .active{
	color:#000;
}
#profile_table{
	text-align: justify;
}

.at-section__title {
  margin: 0 0 70px;
  color: #000;
 
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 2.625rem;
  text-align: center;
}
.at-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: #FFF;
}
.at-grid[data-column="1"] .at-column {
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}
.at-grid[data-column="2"] .at-column {
  width: 50%;
  max-width: 50%;
  min-width: 50%;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}
.at-grid[data-column="3"] .at-column {
  width: 33.33333%;
  max-width: 33.33333%;
  min-width: 33.33333%;
  -ms-flex-preferred-size: 33.33333%;
      flex-basis: 33.33333%;
}
.at-grid[data-column="4"] .at-column {
  width: 25%;
  max-width: 25%;
  min-width: 25%;
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
}
.at-grid[data-column="5"] .at-column {
  width: 20%;
  max-width: 20%;
  min-width: 20%;
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
}
.at-grid[data-column="6"] .at-column {
  width: 16.66667%;
  max-width: 16.66667%;
  min-width: 16.66667%;
  -ms-flex-preferred-size: 16.66667%;
      flex-basis: 16.66667%;
}
.at-grid[data-column="7"] .at-column {
  width: 14.28571%;
  max-width: 14.28571%;
  min-width: 14.28571%;
  -ms-flex-preferred-size: 14.28571%;
      flex-basis: 14.28571%;
}
.at-grid[data-column="8"] .at-column {
  width: 12.5%;
  max-width: 12.5%;
  min-width: 12.5%;
  -ms-flex-preferred-size: 12.5%;
      flex-basis: 12.5%;
}
.at-grid[data-column="9"] .at-column {
  width: 11.11111%;
  max-width: 11.11111%;
  min-width: 11.11111%;
  -ms-flex-preferred-size: 11.11111%;
      flex-basis: 11.11111%;
}
.at-column {
  z-index: 0;
  position: relative;
  background: #FFF;
	padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: box-shadow 0.2s ease, z-index 0s 0.2s ease, -webkit-transform 0.2s ease;
  transition: box-shadow 0.2s ease, z-index 0s 0.2s ease, -webkit-transform 0.2s ease;
  -webkit-transition: z-index 0s 0.2s ease, -webkit-box-shadow 0.2s ease, -webkit-transform 0.2s ease;
  transition: z-index 0s 0.2s ease, -webkit-box-shadow 0.2s ease, -webkit-transform 0.2s ease;
  -o-transition: box-shadow 0.2s ease, transform 0.2s ease, z-index 0s 0.2s ease;
  transition: box-shadow 0.2s ease, transform 0.2s ease, z-index 0s 0.2s ease;
  transition: box-shadow 0.2s ease, transform 0.2s ease, z-index 0s 0.2s ease, -webkit-box-shadow 0.2s ease, -webkit-transform 0.2s ease;
  transition: box-shadow 0.2s ease, transform 0.2s ease, z-index 0s 0.2s ease, -webkit-transform 0.2s ease;
}
.at-column:before {
  content: "";
  display: block;
  padding-top: 100%;
}
.at-column:hover {
  z-index: 1;
  -webkit-transform: scale(1.05);
          -ms-transform: scale(1.05);
      transform: scale(1.05);
  -webkit-transition: box-shadow 0.2s ease, z-index 0s 0s ease, -webkit-transform 0.2s ease;
  transition: box-shadow 0.2s ease, z-index 0s 0s ease, -webkit-transform 0.2s ease;
  -webkit-transition: z-index 0s 0s ease, -webkit-box-shadow 0.2s ease, -webkit-transform 0.2s ease;
  transition: z-index 0s 0s ease, -webkit-box-shadow 0.2s ease, -webkit-transform 0.2s ease;
  -o-transition: box-shadow 0.2s ease, transform 0.2s ease, z-index 0s 0s ease;
  transition: box-shadow 0.2s ease, transform 0.2s ease, z-index 0s 0s ease;
  transition: box-shadow 0.2s ease, transform 0.2s ease, z-index 0s 0s ease, -webkit-box-shadow 0.2s ease, -webkit-transform 0.2s ease;
  transition: box-shadow 0.2s ease, transform 0.2s ease, z-index 0s 0s ease, -webkit-transform 0.2s ease;
}
.at-column:hover .at-social {
  margin: 16px 0 0;
  opacity: 1;
}
@media (max-width: 800px) {
  .at-column {
    width: 50% !important;
    max-width: 50% !important;
    min-width: 50% !important;
    -ms-flex-preferred-size: 50% !important;
        flex-basis: 50% !important;
  }
}
@media (max-width: 600px) {
  .at-column {
    width: 100% !important;
    max-width: 100% !important;
    min-width: 100% !important;
    -ms-flex-preferred-size: 100% !important;
        flex-basis: 100% !important;
  }
}
.at-user {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  -webkit-transform: translate(0, -50%);
          -ms-transform: translate(0, -50%);
          -moz-transform: translate(0, -50%);
      transform: translate(0, -50%);
  text-align: center;
}
.at-user__avatar {
  width: 138px;
  height: 138px;
  border-radius: 100%;
  margin: 0 auto 20px;
  overflow: hidden;
}
.at-user__avatar img {
  display: block;
  width: 100%;
  max-width: 100%;
}
.at-user__name {
  color: #313435;
  font-size: 12px;
  font-weight: 700;
  line-height: 2.625rem;
}
.at-user__title {
  color: #6F808A;
   font-size: 13px;
  line-height: 2.375rem;
}
.at-social {
  margin: 0 0 -18px;
  opacity: 0;
  -webkit-transition: margin 0.2s ease, opacity 0.2s ease;
  -o-transition: margin 0.2s ease, opacity 0.2s ease;
  -moz-transition: margin 0.2s ease, opacity 0.2s ease;
  transition: margin 0.2s ease, opacity 0.2s ease;
}
.at-social__item {
  display: inline-block;
  margin: 0 1px;
}
.at-social__item a {
  display: block;
  margin-left:-25px;
  margin-top:-25px;
}
.at-social__item svg {
  fill: #515F65;
  display: block;
  height: 18px;
  -webkit-transition: fill 0.2s ease;
  -moz-transition: fill 0.2s ease;
  -o-transition: fill 0.2s ease;
  transition: fill 0.2s ease;
}
.at-social__item a:hover {
  color: #788D96;
}

.enb_125{
	padding:25px 25px;
}
article{
	padding-top: 100px;
	min-height: 50vh;
}


#indinformation .content{
	position: absolute;
	padding: 10px;
	top: 50px;
	right: 150px;
	width: 300px;
	height: 400px;
	background: rgba(0,0,0,0.8);
	overflow: hidden;
	color: #ffffff;
}
#indinformation .content p, #indinformation .content address{
	font-size: 11px;
	line-height: 15px;
	color: #ffffff;
	float: right;
	margin-right: 18px;
	text-align: justify;
	width: 70%;
}
.karith.contact{
	background: transparent;
}
.karith.contact .karithinfo{
	float: none;
	color: #ffffff;;
}


.karith.contact .karithinfo::after,.karith.contact .karithinfo::before{
	background: #ffffff;
}

.imgaser{
	width: 100px;
}
.intenalId{
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  -moz-animation: dash 5s linear forwards;
  -webkit-animation: dash 5s linear forwards;
          animation: dash 5s linear forwards;
}
@-webkit-keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}
@-moz-keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.imager{
	min-height: 80vh;
	margin-top: 35px;
	background-position: center;
	background-size: 100%;
	border-left-width: 20px;
	
	background-repeat: no-repeat;
}
.dpoear{
	position: relative;
}
.datain{
	margin-top: 20px;
	width: 55%;
	padding-left: 30px;
}
.datain p{
	color: #1e1e1e;
}
.about-bg{
	min-height: 60vh;
	background-position: center;
	background-size:cover;
	background-repeat: no-repeat;
	background-image: url('../images/4.jpg');
}
.about-content{
	position: relative;
}
.content{
	position: relative;
	padding-left: 25px;
	width: 60%;
}
.about-bg.bg2{
	background-image: url('../images/3.jpg');
}
.sae{
	width: 90%;
}
.data-title{
	font-size: 65px;
	font-weight: lighter;
	text-transform: uppercase;
	color: #23acf1;	
	padding: 0;
	letter-spacing: 15px;
	position: relative;
	margin-top: 10px;
	margin-left: -5px;
}
.data-title.red{
	color: #ee1b24;
	letter-spacing: 7px;
	margin-left: -30px;
}
.dbox{
	padding: 30px;
}
.me-1{
	height:40vh;
	background-position: center;
	background-size:cover;
	background-repeat: no-repeat;
	background-image: url('../../library/projects/residence-of-a-m-shanavas/24.jpg');	
	margin-bottom: 100px;

}
.identity{
	font-size: 52px;
	color: #23acf1;
	padding-top: 10%;
}
.me-1.c{
	background-image: url('../../library/projects/residence-of-biju-joy/2.jpg');
}
.me-1.d{
	background-image: url('../../library/projects/residence-of-sudeep/3.jpg');
}